.container{
    margin-bottom: 100px;
}
.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}

.btn-bg{
    background-image: linear-gradient(to bottom, #42d96f 0%, rgb(19, 255, 74)100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.price{
color: #FF136F;
}
.cat1{
    background-color: orange;
}
.cat2{
    background-color: rgb(213, 59, 208);
}
.cat3{
    background-color: blue;
}
.cat1, .cat2 , .cat3{
    padding: 10px 30px;
    border-radius: 10px;
}
.categories h1{
    color: white;
}
categories img{
    width: 100px;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
}
#contact{
    height: 300px;
}
#contact h6{
    color: gray;
}
footer{
    text-align: center;
}
footer p{
    font-size: small;
}